* {
    padding: 0px;
    margin: 0px;
}
/*define*/
header {
    background-color: #f0f8ff;
    height: 20vh;
}

/*define*/
nav {
    background-color: aliceblue;
    height: 10vh;
}

main {
    background-color: white;
    min-height: 60vh;
}

footer {
    background-color: yellow;
    height: 10vh;
}